---
import Main from "../layouts/Main.astro"
import '../styles/input.css'
import Video from "../components/video.astro"
---
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<Main>
    <Video>
    <h1>Debugging</h1>
    <h1>Headings</h1>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <h1>Others</h1>

    <b>Bold text</b><br>
    <strong>Strong importance</strong><br>
    <i>Italic text</i><br>
    <em>Emphasized text</em><br>
    <u>Underlined text</u><br>
    <mark>Highlighted text</mark>
    <br>
    <small>Smaller text</small><br>
    <del>Deleted text</del>
    <br>
    <ins>Inserted text</ins>
    <br>
    <p>N<sub>Subscript text</sub></p><br>
    <p>N<sup>Superscript text</sup></p><br>
    <code class="prettyprint lang-js"> <!-- TODO: Code Mockup (not IMPORTANT)-->
        Inline code <br>
        console.log('Hello, World!')
    </code><br>
    <pre>Preformatted text</pre>
    <br>
    <kbd>Keyboard input</kbd><br>
    <samp>Sample output</samp><br>
    <var>Variable</var><br>
    <q>Short quotation</q><br>
    <blockquote>Block quotation</blockquote>
    <br>
    <abbr>Abbreviation</abbr><br>
    <cite>Citation</cite><br>
    <dfn>Definition</dfn><br>
    <time>Time</time>
    <br>

</Main>