---
const { hashtag } = Astro.props;
---
<span class="bg-blue-200 rounded-3xl bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-20 ring-1 ring-blue-200 p-6 shadow-lg  text-blue-800 font-bold py-2 px-4 rounded-lg flex items-center cursor-pointer hover:bg-opacity-5 duration-700"><span class="text-blue-950 mr-1">#</span>{hashtag}</span>