---
import Button from "./Button.astro";

export const prerender = false;

const url = new URL(Astro.request.url);
const currentPage = parseInt(url.searchParams.get("page") || "1", 10);

function getPageLink(page) {
  return page === 1 ? "/" : `/?page=${page}`;
}
---
<div class="pagination" style="display: flex; align-items: center; justify-content: center; gap: 1rem; margin-top: 2rem;">
  <!-- Back Link: only show as clickable if currentPage > 1 -->
  {currentPage > 1 ? (
    <a href={getPageLink(currentPage - 1)}>
      <button class="bg-blue-200 rounded-3xl bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-20 ring-1 ring-blue-200 fill-blue-200 text-blue-800 font-bold py-2 px-4 hover:bg-opacity-40 duration-700 mt-4">Zurück</button>
    </a>
  ) : (

<button disabled class="bg-blue-200 rounded-3xl bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-20 ring-1 ring-blue-200 fill-blue-200 text-blue-800 font-bold py-2 px-4 hover:bg-opacity-40 duration-700 mt-4">Zurück</button>
  )}

  <!-- <Button>Seite {currentPage}</Button>-->

  <!-- Forward Link: always available -->
  <a href={getPageLink(currentPage + 1)} >
    <button class="bg-blue-200 rounded-3xl bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-20 ring-1 ring-blue-200 fill-blue-200 text-blue-800 font-bold py-2 px-4 hover:bg-opacity-40 duration-700 mt-4">Weiter</button>
  </a>
</div>
