---
---

<div class="h-10 w-fit hover:px-5 hover:bg-opacity-55 duration-500 p-4 bg-blue-200 rounded-full bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-20 ring-1 ring-blue-200 flex items-center justify-center">
    <p class="text-blue-800 font-black">
        <span class="text-blue-400">Update</span>
        <span class="mx-1 border-l border-blue-400 h-full"></span>
        &nbsp; 1.2.1
    </p>
</div>