---
import Button from "./Button.astro"
---
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<style>
    .material-symbols-outlined {
        font-variation-settings:
                'FILL' 0,
                'wght' 700,
                'GRAD' 200,
                'opsz' 40
    }
</style>
<video width="640" height="360" controls>
    <source src="https://upload.wikimedia.org/wikipedia/commons/8/86/Blaues_Kompakttelefon_mit_W%C3%A4hltasten_%28ca._1988%29.webm" type="video/webm">
    Your browser does not support the video tag.
</video>

<div>
    <p>Das ist ein Video</p>
</div>